*.txt
!CMakeLists.txt
*.log
*.o
*.swp
*.swo
*.mrc
*.nz
*.uz
cscope*
bin/
data/
*_c
*.bak
tags
tmp/
Tomo-Project.tar.gz
backup/
test_data/
*.ali
*.bin4
*.coarse
*.flt
*.st
*.tlt
*.ali
*.rec
*.rawtlt
/external/fftw-3.3.7/tools/
external/fftw-3.3.7/
build*/
build/*
build/CMakeFiles/*
build
exec/*
exec/

